<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>

<div class="ui segment">
  <h3>メッセージルーム</h3>
  <br>
  <% @messages.each do |message| %>
    <% if message.content %>
      <% user = User.find(message.user_id) %>
        <div class="item">
          <div class="content">
            <div class="header">
              <strong><%= link_to user.name, user_path(user) %></strong>
              <%= message.message_time %>
            </div>
            <br>
            <div class="list">
              <div class="item">
                <i class="right triangle icon"></i>
                <%= message.content %>
                <hr>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= form_with(model: [@conversation, @message]) do |f| %>
  <div class="field">
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <div>
    <%= f.submit "メッセージを送る",class:"btn btn-success btn-sm" %>
  </div>
<% end %>
