<div class="container">
  <h2>マイページ編集</h2>

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, label: "名前" %>
  </div>

  <div class="field">
    <%= f.label :役割 %><br/>
    <%= f.label :young %>
    <%= f.radio_button :role, :young %>
    <%= f.label :occhan %>
    <%= f.radio_button :role, :occhan %>
  </div>

  <div class="field">
    <%= f.select :prefecture_code, User.prefecture_codes.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= image_tag(@user.icon.url) if @user.icon.url %>
    <%= f.file_field :icon, id: :user_icon, label: "プロフィールアイコン" %>
  </div>

  <div class="field">
    <%= f.text_field :profile, autofocus: true, label: "プロフィール" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for:
      <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <i>※変更しない場合は空白にしてください</i><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %>
    <i>※変更を確認するために現在のパスワードが必要です</i><br/>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "更新",class:"btn btn-primary" %>
  </div>
<% end %>

<h4>アカウントを削除する</h4>

<p><%= button_to "アカウントを削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
