<h1>Problems</h1>
    <% @problems.each do |problem| %>
      <h2>相談したいこと：<%= problem.title %></h2>
      <p>アドバイスを聞くので<%= problem.return %>欲しいです！</p>
      <% post_user = problem.user %>
      <p>相談者：<%= post_user.try(:name) %></p>

      <tr>
        <td><%= link_to 'Show', problem %></td>
        <% unless current_user != post_user %>
          <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
          <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
<br>

<%= link_to 'New Problem', new_problem_path %>
