<!DOCTYPE html>
<html>
  <head>
    <title>Occhan</title>
    <%= favicon_link_tag('favicon.ico')%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to "Occhan", root_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "相談一覧", problems_path, class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "マイページ", user_path(current_user.id), class:"nav-link" if user_signed_in? %>
          </li>
          <li class="nav-item">
            <%= link_to "メッセージ一覧", conversations_path,class:"nav-link" if user_signed_in? %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path,class:"nav-link", method: :delete if user_signed_in? %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path,class:"nav-link" unless user_signed_in? %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path,class:"nav-link" unless user_signed_in? %>
          </li>
        </ul>
        <a class="nav-item">
            <%= link_to (fa_icon "edit", text: "相談投稿"), new_problem_path,class:"nav-link btn btn-outline-primary", style:"color:white;" if(user_signed_in? && current_user.role == 'young') %>
        </a>
      </div>
    </nav>

    <main role="main">
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>

        <%= yield %>

    </main>

    <footer class="footer">
      <p>&copy; 2017-2018 Occhan, Inc.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>

  </body>
</html>
