<!DOCTYPE html>
<html>
  <head>
    <title>Occhan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to "Occhan", problems_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/users/<%= current_user.id %>">マイページ</a>
            </li>
            <li class="nav-item">
              <%= link_to "メッセージ一覧", conversations_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class:"nav-link" %>
            </li>
          <% end %>
        </ul>
        <a class="nav-item">
          <% if current_user %>
            <% if current_user.role == 'young' %>
              <%= link_to (fa_icon "edit", text: "課題投稿"), new_problem_path, class:"nav-link btn btn-outline-primary", style:"color:white;" %>
            <% end %>
          <% end %>
        </a>
      </div>
    </nav>

    <main role="main">
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>

      <div class="container">
        <%= yield %>
      </div>

    </main>

    <footer class="footer">
      <p>&copy; 2017-2018 Occhan, Inc.</p>
      <p><a href="#">Back to top</a></p>
    </footer>

  </body>
</html>
